{% extends 'base.html.twig' %}

{% block title %}Missions index{% endblock %}

{% block body %}
    <h1>Missions index</h1>

    <table class="table">
        <thead>
        <tr>
            <th>Id</th>
            <th>Mission_code_name</th>
            <th>Title</th>
            <th>Description</th>
            <th>Mission_type</th>
            <th>Mission_status</th>
            <th>Start_date</th>
            <th>End_date</th>
            <th>actions</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>

{% endblock %}
