{% extends 'base.html.twig' %}

{% block title %}Edit Hideout{% endblock %}

{% block body %}
    <h1>Edit Hideout</h1>

    {{ include('hideout/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_hideout_index') }}">back to list</a>

    {{ include('hideout/_delete_form.html.twig') }}
{% endblock %}
