{% extends 'base.html.twig' %}

{% block title %}New Hideout{% endblock %}

{% block body %}
    <h1>Create new Hideout</h1>

    {{ include('hideout/_form.html.twig') }}

    <a href="{{ path('app_hideout_index') }}">back to list</a>
{% endblock %}
